*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFE2EA;
}
.forgotten-password-content{
    margin-top: 5%;
}
.forgotten-text{
    display: flex;
    justify-content: center;
}
.heading-forgotten-password{
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.subheading-forgotten-password{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.forgotten-password-form{
    padding:20px;
    display: flex;
    justify-content: center;
    /* width:50%; */
}

input[type=email]{
    padding:15px;
    width: 400px;
    border: none;
    border-radius: 6px;
    /* box-shadow: 0 0 6px rgb(173, 173, 173); */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.submit-referral{
    margin:6px;
    display: flex;
    justify-content: center;
}

input[type=submit]{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding:8px 60px;
    background-color: #B8CF57;
    border: none;
    border-radius:6px ;
}

@media only screen and (max-width:1024px){
    .subheading-forgotten-password{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    .forgotten-password-content{
        padding:0px 20px;
        /* border:5px solid black; */
    }
    .email-forgotten{
        display: flex;
        justify-content: center;
        /* width: 100%; */
    }
    input[type=email]{
        padding:15px;
        width: 250px;
        border: none;
        border-radius: 6px;
        /* box-shadow: 0 0 6px rgb(173, 173, 173); */
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

}

@media only screen and (min-width:1300px){
    input[type=email]{
        padding:15px;
        width: 550pxpx;
        border: none;
        border-radius: 6px;
        /* box-shadow: 0 0 6px rgb(173, 173, 173); */
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
}